/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body { 
	font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 1rem;
    color: #707070 ;
    background-color: #FBFBFB ;
}
	

h1,
h2,
h3,
h4,
h5,
h6 {
	
}

h2{
	padding: 5.125rem 0 0 15.75rem; 
}



p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

.site-wrapper {
	/* This is for very large screens */
	max-width: 120rem;
	margin: 0 auto;
}

 


/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

section {
	margin: 5rem 0 auto;
}


/* Header
--------------------------------------------- */


/* Main
--------------------------------------------- */


.outline-dog,
.icon-sound {
    width: 50px;
}




/* Footer
--------------------------------------------- */

footer {
	font-size: small;
	margin: 2.5rem auto;
}